/* Small Smartphones */
@media only screen and (max-width: 360px) {
  .bottom-section {
    bottom: 0.4em;
  }
}

/* iPhone 6/7/8 */
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .bottom-section {
    top: 4em;
  }
}

/* Iphone 6/7/8 Plus */
@media only screen and (min-width: 410px) and (max-width: 767px) {
  .bottom-section {
    top: 8em;
  }

  .header-img {
    top: 1em;
  }

  .header-opacity::before {
    top: 1em;
  }
}

/* iPhone X */
@media only screen and (min-width: 375px) and (min-height: 812px) {
  .header-img {
    top: 1em;
  }

  .header-opacity::before {
    top: 1em;
  }

  .bottom-section {
    top: 10em;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {
}

/* Desktop */
@media only screen and (min-width: 1024px) {
}
