@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/oswald/v35/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9osUZiYySUhiCXAA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --logo-load-time: 500ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

li,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2rem 5rem 0;
}

header h2 {
  text-transform: uppercase;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

header .logo {
  display: block;
  margin-bottom: 1rem;
  content: url(/img/gamlis_logga.png);
  animation: logo-load var(--logo-load-time) ease-in;
  -webkit-animation: logo-load var(--logo-load-time) ease-in;

}

@keyframes logo-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(100%);
  }
}

@-webkit-keyframes logo-load {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(100%);
  }

}


a.logo {
  width: 20%;
}

header nav li {
  margin: 0 1rem;
  visibility: hidden;
}

/* Banner Area */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 6rem;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 1.2rem;
  line-height: 2;
}

.banner-area {
  position: relative;
  justify-content: center;
  min-height: 80vh;
  color: #fff;
  text-align: center;

}

.banner-area .banner-img {
  background-image: url(/img/header.jpeg);
  background-position: 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.banner-area .banner-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .73;
}

.banner-area h1 {
  margin-bottom: 1rem;
  margin-top: -1rem;
  font-size: 2.2rem;
  font-family: merienda;
  text-transform: uppercase;
  font-family: Oswald, Helvetica, sans-serif;
}

.banner-area h3 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.banner-area a.banner-btn {
  padding: 1rem 4.1rem;
  border-radius: 3rem;
  /* text-transform: uppercase; */
  margin: 0.3rem;
  box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.banner-area .menu-btn {
  background: #D8232A;

}

.banner-area .phone-btn {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid transparent;
  color: #333;
}

.cta-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -2rem;
}

.cta-buttons i {
  font-weight: 900;
}

i.fab {
  font-size: 1.5rem;
  padding: 0.7rem;
}

.social-btn {
  position: absolute;
  margin-top: 8rem;
}

/* Om oss */

ul.about-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-content li {
  padding: 1.2rem;
  height: 18rem;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.about-left {
  flex-basis: 40%;
  background-image: url(/img/gamlis-exterior.jpeg);

}

.about-right {
  flex-basis: 60%;
}

.about-area {
  margin-bottom: 3rem;
}

.about-area p {
  max-width: 800px;
  line-height: 1.5;
  text-align: left;
  padding: 0;
}

.section-title {
  margin-top: -1.8em;
  text-transform: uppercase;
  font-size: 2.8rem;
  margin-bottom: 5%;
}

.about-right h2 {
  margin-bottom: 3%;
}

.about-btn {
  padding: 1rem 3rem;
  background: crimson;
  border-radius: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.opening-hours li {
  height: 20px;
  margin: 10px;
  padding-bottom: 1rem;
}

.fa-file-pdf {
  font-size: 1rem;
}

.fa-phone-rotary {
  font-size: 1rem;
}

/* .opening-hours {
  bottom: 10rem;
} */

/* Footer */
/* .page-footer {
  background-color: rgba(71, 64, 64, 0.9);
  height: 18rem;
  display: flex;
  justify-content: center;

}

.footer-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

address {
  font-size: 0.82rem;
  color: lightgray;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: 0.06rem;
  font-style: normal;
  font-weight: bold;
}

.footer-content li {
  color: #f4f4f4;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  padding: 0.5rem;
  text-align: center;
  margin-top: .8rem;
}

.footer-social {
  color: #f4f4f4;
  margin-bottom: 0.5rem;
}

.footer-content .phone {
  color: #f4f4f4;
  padding: 0.5rem;
  font-size: 0.82rem;
  letter-spacing: 0.07rem;
}

.phone strong {
  font-weight: 800;
}

.footer-content .copy {
  font-size: 0.6rem;
} */

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: rgba(71, 64, 64, 0.9);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #f4f4f4;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: row wrap;
}

footer .container .sec {
  margin-right: 30px;
}

footer .container .sec .about-us {
  width: 40%
}

footer .container h2 {
  position: relative;
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

footer .container h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #D8232A;
}

.footer-social {
  margin-top: 1.2rem;
  display: flex;
}

.footer-social li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(33, 34, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
  text-decoration: none;
  border-radius: 0.4rem;
}

.footer-social li a:hover {
  background: #D8232A;
}

.footer-social .svg-inline--fa {
  color: #fff;
  font-size: 1.11rem;
}

.contact {
  width: calc(35% - 1rem);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 1rem;
}

.contact .info li span:nth-child(1) {
  color: #f4f4f4;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.contact .info li span {
  color: #999;
}

.fa-phone-alt,
.fa-map-marker-smile {
  font-size: 1.2rem;
}

.about-us p,
.contact .ft-address {
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
}

.fa-map-marker-smile {
  margin-right: 0.2rem;
}

.contact .info li a {
  color: #999;
}

.contact .info li a:hover {
  color: #f4f4f4;
}

.ft-address {
  font-size: 0.9rem;
}

.copy-text {
  width: 100%;
  background: #181818;
  padding: 0.5rem 6rem;
  text-align: center;
  color: #999;
  font-size: 0.7rem;
  letter-spacing: 0.12rem;
  /* text-transform: uppercase; */
}