@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0 0 5px 0;
}
body {
  background-color: rgba(233, 226, 164, 0.27);
}

header {
  text-align: center;
  top: 20px;
}

.logo {
  width: 250px;
  top: 20px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

main {
  height: auto;
}

h1 {
  visibility: hidden;
  height: 10px;
}

.header-img {
  position: relative;
  width: 60rem;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

header p {
  max-width: 20em;
  min-width: 10;
  text-align: center;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.22em;
  margin-top: 5px;
}

.spacer {
  display: inline-block;
  height: 10rem;
}

.bottom-section {
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  bottom: 10px;
  text-align: center;
  height: auto;
}

#button {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 40px;
  font-size: 16px;
  margin: 0 auto;
}

.btn-menu {
  color: #f4f4f4;
  border: none;
  background: rgba(112, 112, 112, 1);
}
.btn-tel {
  color: rgba(112, 112, 112, 1);
  border: solid 1px rgba(112, 112, 112, 1);
  background-color: transparent;
}

.btn-tel:hover {
  background-color: rgba(112, 112, 112, 1);
  top: 200px;
  color: #f4f4f4;
}

.btn-menu:hover {
  background-color: rgba(112, 112, 112, 0.3);
}
